{% extends "core_site/base.html" %}

{% block content %}

<div>

    <h1>Welcome to TUCTF 2023</h1>

    <p>TUCTF is an annual Capture the Flag competition hosted by the CTF club at the University of Tulsa.</p>
    
    <p>The 2023 TUCTF Competition will start at 12:00pm CT on Friday, December 1, 2023 and run for 48 hours until 12:00pm CT on Sunday, December 3, 2023.</p>

</div>


<div>
    <h2>Rules</h2>

    <ol>
        <li>Do not harrass or insult other players.</li>
        <li>Do not share or post flags publicly until the CTF is over.</li>
        <li>Do not collaborate with other teams in any fashion.</li>
        <li>Do not attempt to brute-force any flags.</li>
        <li>Do not use tools such as nmap or dirbuster or any network vulnerability scanner on the competition infrastructure.</li>
        <li>Do not attempt to DDoS the infrastructure.</li>
        <li>Please be considerate. We've put in a lot of our free time into this competition. We hope </li>
        <li>nothing goes wrong, but we all know that technology is hard and sometimes unpredictable.</li>
        <li>If you need help, please create a ticket.</li>
        <li>To be eligible for prizes, you must set your Affiliation to your school. Only US teams are eligible for prizes. There will be prizes for the top 3 high school and top 3 undergraduate university teams. We will send all of the prizes to a single address.</li>
        <li>TUCTF reserves the right to disqualify any team for any reason during or after the competition.</li>
    </ol>
    
</div>



<div>
    <h2>FAQ</h2>
</div>


<div>
    <h2>Challenge Categories</h2>
</div>


<div>

    <h2>Prizes</h2>
</div>



<div>

    <h2>Sponsors</h2>

    <p>The University of Tulsa - School of Cyber Studies</p>

</div>




{% endblock content %}