{% extends "core_site/base.html" %}


{% block page_header %}
{% endblock page_header %}

{% block content %}

<div>
    <h2>Rules</h2>

    <ol class="list-group border-bottom pb-2 mb-4">
        <li class="list-group-item">Do not harrass or insult other players.</li>
        <li class="list-group-item">Do not share or post flags publicly until the CTF is over.</li>
        <li class="list-group-item">Do not collaborate with other teams in any fashion.</li>
        <li class="list-group-item">Do not attempt to brute-force any flags.</li>
        <li class="list-group-item">Do not use tools such as nmap or dirbuster or any network vulnerability scanner on the competition infrastructure.</li>
        <li class="list-group-item">Do not attempt to DDoS the infrastructure.</li>
        <li class="list-group-item">Please be considerate. We've put in a lot of our free time into this competition. We hope </li>
        <li class="list-group-item">nothing goes wrong, but we all know that technology is hard and sometimes unpredictable.</li>
        <li class="list-group-item">If you need help, please create a ticket.</li>
        <li class="list-group-item">To be eligible for prizes, you must set your Affiliation to your school. Only US teams are eligible for prizes. There will be prizes for the top 3 high school and top 3 undergraduate university teams. We will send all of the prizes to a single address.</li>
        <li class="list-group-item">TUCTF reserves the right to disqualify any team for any reason during or after the competition.</li>
    </ol>
    
</div>

{% endblock content %}